header {
    background-color: white;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 20px;
    background: url(../images/logo.png) left center;
    background-repeat: no-repeat;
    background-origin: content-box;
}