header {
    background-color: white;
    height: 60px;
    width: 100%;
    color: white;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

#logo {
    background: url('../images/icon.png') center no-repeat;
    height: 60px;
    width: 142px;
    margin-left: 20px;
}